/**
 * Misc
 * -------------------------------------------------- */

/* Branding */
.mp-branding {
  margin-right: 2.25rem; /* 36px */

  h3 {
    margin-bottom: 0;
  }
  a {
    color: $white;
  }
}
